
/StealthDriver/StealthDriver/objchk_wxp_x86
/StealthDriver/StealthDriver/objfre_wxp_x86
/StealthDriver/StealthDriver/buildfre_wxp_x86.log
/StealthDriver/StealthDriver/buildfre_wxp_x86.wrn
/StealthDriver/StealthDriver/BuildLog.htm
/StealthDriver/StealthDriver/buildchk_wxp_x86.log
/StealthDriver/StealthDriver/buildchk_wxp_x86.wrn
/uberstealth/Debug
/uberstealth/Release
/RDTSCEmu/driver/objchk_wxp_x86
/RDTSCEmu/driver/objfre_wxp_x86
/RDTSCEmu/driver/buildfre_wxp_x86.log
/RDTSCEmu/driver/buildfre_wxp_x86.wrn
/RDTSCEmu/driver/BuildLog.htm
/RDTSCEmu/driver/buildchk_wxp_x86.log
/RDTSCEmu/driver/buildchk_wxp_x86.wrn
/HideDebugger/Debug
/HideDebugger/Release
/HideDebugger/OllyStealth Debug/
/HideDebugger/OllyStealth Release/
/uberstealth/OllyStealth Debug/
/uberstealth/OllyStealth Release/
/uberstealthRemote/Debug/BuildLog.htm
/uberstealthRemote/Debug/DriverControl.obj
/uberstealthRemote/Debug/GenericInjector.obj
/uberstealthRemote/Debug/HideDebuggerProfile.obj
/uberstealthRemote/Debug/IATModifier.obj
/uberstealthRemote/Debug/IDAStealthRemote.exe.embed.manifest
/uberstealthRemote/Debug/IDAStealthRemote.obj
/uberstealthRemote/Debug/IPCConfigExchangeCommon.obj
/uberstealthRemote/Debug/IPCConfigExchangeWriter.obj
/uberstealthRemote/Debug/InjectLib.obj
/uberstealthRemote/Debug/Process.obj
/uberstealthRemote/Debug/RemoteLibCall.obj
/uberstealthRemote/Debug/ResourceItem.obj
/uberstealthRemote/Debug/vc90.idb
/uberstealthRemote/Debug/vc90.pdb
/uberstealthRemote/IDAStealthRemote.ncb
/uberstealthRemote/IDAStealthRemote.suo
/uberstealthRemote/IDAStealthRemote.vcproj.octon-PC.octon.user
/uberstealthRemote/Debug/IDAStealthRemote.exe
/uberstealthRemote/Debug/IDAStealthRemote.exe.embed.manifest.res
/uberstealthRemote/Debug/IDAStealthRemote.exe.intermediate.manifest
/uberstealthRemote/Debug/IDAStealthRemote.exp
/uberstealthRemote/Debug/IDAStealthRemote.ilk
/uberstealthRemote/Debug/IDAStealthRemote.lib
/uberstealthRemote/Debug/IDAStealthRemote.pdb
/uberstealthRemote/Debug/IDAStealthRemote.res
/uberstealthRemote/Debug/InjectionBeacon.obj
/uberstealthRemote/Debug/RemoteStealthServer.obj
/uberstealthRemote/Debug/RemoteStealthSession.obj
/uberstealthRemote/Debug/StringHelper.obj
/uberstealthRemote/Debug/TemporaryConfigFile.obj
/uberstealthRemote/Debug/mt.dep